@tailwind base;
@tailwind components;
@tailwind utilities;

.main_layout{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_from_center{
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.payment_container{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  width: 70%;
  border: 1px solid rgba(58, 65, 73, 0.63);
  border-radius: 20px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

